<%= turbo_frame_tag :dashboard_content do %>
  <%= render Dashboard::LayoutComponent.new do %>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-4 gap-4 md:gap-6 2xl:gap-7.5">
      <%= render Dashboard::CardComponent.new(text: 'Total Profit', icon: 'solid/cart_shopping.svg', value: @bet_stats[:total], percentage: @bet_stats[:percentage]) %>
    </div>
  <% end %>
<% end %>
