<div class="flex">
  <div class="hidden md:block flex-col w-64 h-screen px-4 py-8 overflow-y-auto shadow dark:border-r-2 border-gray-400">
    <div class="flex flex-col justify-between mt-6">
      <%= render Sidebar::MenuComponent.new do |component| %>
        <% component.with_link(title: 'Account info', link: edit_user_registration_path(mode: :profile), icon: 'fa-solid fa-user') %>
        <% component.with_link(title: 'Avatar', link: edit_user_registration_path(mode: :avatar), icon: 'fa-solid fa-user-plus') %>
      <% end %>
    </div>
  </div>
  <div class="w-full p-4 m-8 overflow-y-auto">
    <div class="flex flex-row md:hidden">
      <%= render Sidebar::MenuComponent.new do |component| %>
        <% component.with_link(title: 'Account info', link: edit_user_registration_path(mode: :profile), icon: 'fa-solid fa-user') %>
        <% component.with_link(title: 'Avatar', link: edit_user_registration_path(mode: :avatar), icon: 'fa-solid fa-user-plus') %>
      <% end %>
    </div>
    <div class="flex items-center justify-center w-full mx-auto max-w-5xl">
      <%= turbo_frame_tag :edit_profile, src: edit_profile_path(mode: params[:mode]), loading: :lazy, class: 'w-full' do %>
        <div class="animate-pulse h-100">
          Loading
        </div>
      <% end %>
    </div>
  </div>
</div>
