<turbo-frame id="turbo_modal">
  <div data-controller="modal" data-action="turbo:submit-end->modal#closeOnSuccess keyup@window->modal#closeWithEscape click@window->modal#closeBackground" class="fixed top-0 left-0 flex h-full min-h-screen w-full items-center justify-center bg-black/90 px-4 py-5 z-999999">
    <div data-modal-target="modal" class="w-full max-w-142.5 rounded-lg bg-white dark:bg-boxdark py-12 px-8 text-center md:py-15 md:px-17.5">
      <h3 class="text-black dark:text-white pb-2 text-xl font-bold sm:text-2xl">
        <%= @title %>
      </h3>
      <span class="bg-primary mx-auto mb-6 inline-block h-1 w-22.5 rounded"></span>
      <% if body? %>
        <p class="mb-10"><%= body %></p>
      <% end %>
      <%= content %>
    </div>
  </div>
</turbo-frame>
