  <button disabled class="bg-meta-4 disabled dark:disabled:bg-black inline-flex gap-2.5 items-center justify-center py-4 px-10 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10 w-full">
    <%= inline_svg_tag 'icons/brand/draftking.svg', class: 'h-6 w-6 bg-black rounded-full' %>
    <span><%= @betting_book.name %> Not yet syncable...</span>
  </button>

