<button disabled class="disabled bg-meta-3 inline-flex gap-2.5 items-center justify-center py-4 px-10 text-center font-medium text-white hover:bg-opacity-90 lg:px-8 xl:px-10 w-full">
  <%= inline_svg_tag icon, class: 'h-6 w-6 bg-black rounded-full' %>
  <%= inline_svg_tag 'icons/solid/spinner.svg', class: 'h-4 w-4 animate-spin' %>
  <span>Syncing...</span>
</button>

